<nav class="nav flex-column nav-pills pt-3 px-2">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link" href="/users/add">
        Create User
    </NavLink>
    <div class="nav-item px-3">
        <a class="nav-link" href="/posts">Posts</a>
    </div>
    <div class="nav-item px-3">
        <a class="nav-link" href="/posts/add">Add Post</a>
    </div>
</nav>