@page "/"
@inject NavigationManager NavMgr

<h3>Welcome to Reddit Clone</h3>

<AuthorizeView>
    <Authorized>
        <p>
            Use the menu on the left to create users, browse posts, and add new posts or comments.
        </p>
    </Authorized>

    <NotAuthorized>
        <p>
            You need to log in to browse and create posts.
        </p>

        <button @onclick="GoToLogin">
            go to login
        </button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void GoToLogin()
    {
        NavMgr.NavigateTo("/login");
    }
}